.container {
  width: 70vw;
  margin-left: 15vw;
  height: 80vh;
  margin-top: 9vh;
}

input{
  height: 40px;
}

::placeholder  {
  // color: rgba(89, 168, 247, 0.33);
  color: red;
}

.formContainer {
  margin-top: calc(50vh/2 - 80px);
}

.selectorContainer > button {
  background-color: rgba(54, 160, 201, 0.1);  
  border: 1px solid rgba(89, 168, 247, 0.33);
}

