<div class="container" fxLayout="row" fxLayoutGap="10px">
  <img src="../../../assets/launch.jpg" fxFlex="50%">
  <div class="col2" fxFlex>
    <div class="selectorContainer" fxLayout="row" fxLayoutGap="5px">
      <!-- <button mat-button fxFlex="50%" (click)="this.loginService.changeState()" [ngStyle]="{'background-color': this.loginService.state ? 'rgba(89, 168, 247, 0.33)' : 'transparent'}">Login</button>
      <button mat-button fxFlex (click)="this.loginService.changeState()" [ngStyle]="{'background-color': !this.loginService.state ? 'rgba(89, 168, 247, 0.33)' : 'transparent'}">Signup</button> -->
      <mat-button-toggle-group fxLayout="row" name="service" aria-label="Service">
        <mat-button-toggle fxFlex="50%" value="login" (click)="state = 'login'" >Login</mat-button-toggle>
        <mat-button-toggle fxFlex="50%" value="signup" (click)="state = 'signup'">Signup</mat-button-toggle>
      </mat-button-toggle-group>
    </div>
    <mat-card>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <!-- <mat-card-content> -->
        <div class="formContainer" fxLayout="column" *ngIf="state === 'login' ; else signup">
          <mat-form-field>
            <input fxFlex="50%" matInput placeholder="email" matAutosizeMinRows="1" matAutosizeMaxRows="4"
              formControlName="email">
          </mat-form-field>
          <mat-form-field>
            <input fxFlex matInput placeholder="password" type="password" formControlName="password" required>
          </mat-form-field>
        </div>
        <!-- {{loginForm.valid}} -->
        <button mat-raised-button type="submit" [disabled]="!loginForm.valid && state === 'login'"[style.visibility]="state === 'login' ? 'visible' : 'hidden'">Login</button>
      </form>

      <ng-template #signup>
        <div class="formContainer" fxLayout="column">
          <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
            <mat-form-field>
              <input fxFlex="50%" matInput placeholder="email" formControlName="email">
            </mat-form-field>
            <mat-form-field>
              <input fxFlex matInput placeholder="Enter your password" type="password" formControlName="password">
            </mat-form-field>
            <mat-form-field>
              <input fxFlex matInput placeholder="Re-enter password" type="password" formControlName="repass">
            </mat-form-field>
            <mat-checkbox value="1" formControlName="checker">Do you agree with <b>us</b>
              ??!</mat-checkbox>
          </form>
          <button mat-raised-button type="submit" [disabled]="signupForm.invalid && state === 'signup'">Signup</button>
        </div>

      </ng-template>
      <!-- </mat-card-content> -->
    </mat-card>
  </div>
</div>